#main-nav {
    max-width: 100%;
}

.navbar-brand h1 {
    margin-bottom: -15px;
    font-size: 3rem;
    font-weight: bold;
    background-image: linear-gradient(90deg, #0011af, #d19202, #010d7f, #FEBA14, #010d7f);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 8s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.nav-hide{
    display: none;
}

#account-button button, #lang-button button {
    background-color: #1B3D51;
    color: #cccccc;
    border: none;
}

.left-container-text h2 {
    color: #F2A532 !important;
}

.left-container-text p {
    color: #FFFFFF !important;
}

#log-in-btn, #register-btn {
    background-color: #cccccc;
    color: #1B3D51;
}


@media only screen and (max-width: 640px) {
    .banner {
        background-image: url(../images/e-commerce\ cart\ bg-image.jpg);
        background-size: contain;
        padding: 0;
        margin-top: -20px;
    }
    .banner .caption {
        padding-left: 0;
    }
    .left-container-text {
        display: none;
    }
    .main-button {
        margin-top: 100px;
    }
    .sign-in-btn {
        margin-top: 5px;
    }
    .right-login-container {
        padding: 0 !important;
        margin-top: -110px ;
    }
    .auth-form {
        padding: 44px !important;
    }
    .input {
        width: 100%;
    }
    #account-button, #lang-button {
        display: none;
    }
    .nav-hide {
        display: list-item;
        text-align: match-parent;
    }
    .small-menu {
        display: block !important;
        font-weight: bold;
        border-bottom: 1px solid #eee;
    }
    .featured-page {
        margin-top: 0;
    }
    #search-bar {
        position: relative;
        top: 10px;
        right: 30px;
    }
    #root {
        margin-top: 0 !important;
    }
    #cart-table, #order-table  {
        overflow-x: scroll;
    }
}
